
.header {
	background: #8cc34b;
	box-shadow: 0 0 22px rgba(0,0,0,0.5);


	&__container{
		padding: 14px 28px;
		width: 1200px;
		margin: 0 auto;

	}
	&__logo{
		display: inline-block;
  	width: 58px;
	  height: 58px;
	  margin-right: 14px;
	  border-radius: 50%;
		vertical-align: middle;
	  overflow: hidden;
	  border: 2px solid #ffffff;
		  &_img {
		  	width: 100%;
			}
	}
	&__text{
		display: inline-block;
		color: #ffffff;
		vertical-align: middle;

			&_name {
				font-family: 'fira_sansmedium';
				font-size: 21px;
				margin: 0 0 3px;
			}
			&_email {
				font-family: 'fira_sansregular';
				text-decoration: none;
				color: #ffffff;
				font-size: 14px;
			}
	}
	&__socials{
		float: right;
	}
}

.socials {
	&__list {
		padding-left: 0;
	}
	&__item {
		display: inline;
		padding-right: 20px;
	}
}

.fa {
	font-size: 35px;
		color: #e1eed4;
		text-decoration: none;
		&:hover{
			color: #ffffff;
		}
}
