.article {
  &__header {
    font-family: 'fira_sansmedium';
    font-size: 42px;
    text-align: center;
    margin: 0;
    padding-top: 55px;
    line-height: 55px;
  }
  &__subHeader {
    font-family: 'fira_sanslight';
    font-size: 21px;
    text-align: center;
    padding-bottom: 30px
  }
}

.aboutStudent {
  &__block{
    display: inline-block;
    vertical-align: top;
    width: 460px;
    margin-bottom: 75px;
     &:first-child {
        margin-right: 75px;
    }

    &_header{
      font-family: 'fira_sansregular';
      font-size: 21px;
      margin-bottom: 10px;
      float: left;
    }
    &_icon {
      display: inline-block;
      padding-right: 20px;
      float: left;
    }
    &_text {
      font-family: 'fira_sanslight';
      width: 300px;
      float: right;
    }
    &_link {
      padding-right: 5px;
    }

  }
}

.courses {
  background: url('../img/gplaypattern.png');
  min-height: 955px;
  padding-bottom: 70px;
  position: relative;
    &__box {
      padding: 0;
      margin: 0 -10px;
    }
}

.taskComleted {
  font-family: 'fira_sansmedium';
  font-size: 41px;
  color: #8cc34b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
    &__icon {
      color: #8cc34b;
      margin-right: 15px;
    }
}

.course {
  vertical-align: top;
  width:300px;
  background: #ffffff;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 10px;
  font-size: 0;

  &:hover {
    .course__title {
      color: #8cc34b;
    }
    .course__description {
      border-top: 6px solid #8cc34b;
    }
  }

  &__picture {
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }

  &__description{
    border-top: 6px solid #ffffff;
    padding: 20px;
  }

  &__title {
    font-family: 'fira_sansregular';
    font-size: 21px;
    padding-bottom: 15px;
  }
  &__text {
    font-family: 'fira_sanslight';
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 15px;
  }
  &__time {
    &_clock {
      font-size: 14px;
      color: #b6b6b6;
      padding-right: 5px;
    }
    &_text {
      font-family: 'fira_sanslight';
      font-size: 14px;
      color: #b6b6b6;
      display: inline;
    }
  }
  &__looked {
    font-size: 18px;
    background: #f6f7f2;
    padding: 20px;

    &_text {
      font-family: 'fira_sansregular';
      font-size: 18px;
      line-height: 18px;
      position: relative;
      cursor: pointer;
    }

    &_input {
      display: none;
    }
    &_checkbox {
      display: inline-block;
      float: left;
      margin-right: 10px;
      background-image: url('../img/uncheckedbox.png');
      width: 20px;
      height: 20px;
    }
  }
}


