include _common/_mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/fonts.css")
		link(rel="stylesheet" href="css/font-awesome.css")
		link(rel="stylesheet" href="css/main.css")
		//- link(rel="stylesheet" href="css/main.min.css")
		title(Site)
	body
		.wrapper
			include _common/_header.jade
			block content
		include _common/_footer.jade
		script(src="js/jquery.js")
		script(src="js/main.js")


